<nav class="navbar">
  <div class="nav-container">
    <div class="logo" (click)="toggleUserMenu()">
      <img src="./images/p-default.png" alt="Logo">
      
      <div class="user-menu" *ngIf="userMenuAbierto" (click)="$event.stopPropagation()">
        <p>{{ usuario?.nombre || 'Usuario' }}</p>
        <button (click)="logout()">Cerrar sesión</button>
      </div>
    </div>

    <ul class="nav-links" [class.active]="menuAbierto">
      <li *ngFor="let item of menuItems">
        <a href="#" (click)="navigateTo(item.route, $event)">
          <i [class]="item.icon"></i> {{ item.name }}
        </a>
      </li>
    </ul>


    <div class="menu-toggle" (click)="toggleMenu()">
      <i class="bi" [ngClass]="menuAbierto ? 'bi-x' : 'bi-list'"></i>
    </div>
  </div>
</nav>